body, html {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}

.flex_container {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

.list_container {
	width: 800px;
	text-align: center;
}

p {
	font-size: 150px;
	margin-top: 75px;
	margin-bottom: 75px;
}

ul {
	width: 300px;
	padding-left: 0px;
	list-style: none;
	text-align: center;
	margin: 0px;
}

li {
	width: 800px;
	padding-right: 26px;
	text-align: center;
}

button {
	width: 70.67px;
	font-family: 'Amatic SC', cursive;
	font-size: 13px;
}

input {
	width: 400px;
	height: 70px;
	text-align: center;
	font-size: 13px;
}

.done {
	text-decoration: line-through;
}


